/* Allgemeines */
body {
    /* Reset padding & margin */
    margin: 0;
    padding: 0;
    background-color: rgba(221, 252, 255, 0.14);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1em;
    min-height: 50px;
    flex: 1;
}

/* Überschriften */
h1, h2 {
    color: #F78764;
}



/* Über mich Abschnitt */
#about-me {
    display: flex;
}

.foto {
    height: 200px;
    margin-right: 20px;
}

#about-me div > h2 {
    margin-bottom: 2rem;
}

/* Container für die einzelnen Abschnitte */
.container {
    margin: 1rem 2rem;
    border: rgba(190, 197, 194, 0.34) solid 1px;
    padding: 1rem;
}

/* Tabelle */
#favorites table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

#favorites table thead {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 2px solid black;

}



.copyright{
    text-align: center;
    margin-bottom: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

#weather{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
#weather span{
    margin-left: 1em;
}

/* Smartphone < 576px */
@media screen and (max-width: 575px)  {
    main{
        margin: 0;
    }


    .container{
        border: 0;
    }

    #about-me {
        flex-direction: column;
    }

    .foto{
        width: 100%;
        height:auto;
        margin-bottom: 1em;
    }

    #about-me div > h2{
        margin-bottom: .3em;
    }

    #favorites table thead{
        font-size: 1em;
    }

   footer{
       overflow: hidden;
       position: relative;
       bottom:0;
   }

}

