
#about-me div > h2 {
    margin-bottom: 2rem;
}

/* Container für die einzelnen Abschnitte */
.container {
    margin: 3rem 3rem;
    border: rgba(190, 197, 194, 0.34) solid 1px;
    padding: 5rem;
}

/* Tabelle */
#favorites table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

/* Smartphone S <= 350px */
@media screen and (max-width: 350px)  {
    .container{
        border: 0;
        margin: 0;
    }

}

